/.classpath
/.project
/.gradle
/.settings
/build
/bin
/eclipse

!/eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/Minecraft/.location
!/eclipse/.metadata/.plugins/org.eclipse.core.resources/.root/0.tree
!/eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
!/eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
!/eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.usagedata.gathering.prefs
!/eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
!/eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
!/eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
!/eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
!/eclipse/.metadata/.plugins/org.eclipse.debug.core/.launches/Client.launch
!/eclipse/.metadata/.plugins/org.eclipse.debug.core/.launches/Server.launch
!/eclipse/.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
/renderer-test.iml
/renderer-test.ipr
/renderer-test.iws
/out
